*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .7s;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    outline: none;
}

button{
    cursor: pointer;
}

li:hover{
    transform: scale(1.1);
    opacity: 0.9;
}

@font-face {
    font-family: 'unbounded';
    src: url(../font/Unbounded-Regular.ttf);
}

@font-face {
    font-family: 'unboundedBlack';
    src: url(../font/Unbounded-Black.ttf);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.container__2 {
    max-width: 3000px;
    margin: 0 auto;
}

.py-100 {
    padding-top: 70px;
    padding-bottom: 100px;
}

::-webkit-scrollbar{
    width: 0px;
}

.py-100 {
    padding-top: 70px;
    padding-bottom: 100px;
}

header{
    background-color: #283618;
    height: 150px;
 
}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#burger, [for=burger] {
    display: none;
}


.header__ul{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

a{
    color: bisque;
    font-family: 'unbounded';
    font-size: 18px;
}

p, h2, h3, h1, button{
    font-family: 'unbounded';
}

.basket{
    height: 60px;
}

.kart{
    background-color: #FEFAE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 370px;
    height: 575px;
    box-shadow: 10px 10px 20px 1px #283618;
    gap: 20px;
}

.kart img{
    width: 100%;
}

.price{
    display: flex;
    flex-direction: row;
    gap: 85px;
}

.btn__kart{
    width: 330px;
    height: 55px;
    background-color: #283618;
    border-radius: 10px;
    color: #FEFAE0;
}

.btn__kart:hover{
    width: 230px;
    color: #283618;
    background-color: transparent;
    border: 4px solid #283618;
    border-radius: 30px;
}

.container__kart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 145px;
}

.katalog__kart{
    background-color: #D9D9D9;
}

.input__katalog{
    width: 630px;
    height: 70px;
    border-radius: 15px;
    background-color: #FEFAE0;
    font-family: 'unbounded';
    font-size: 18px;
}

.btn__katalog{
    width: 110px;
    height: 70px;
    background-color: #283618;
    border-radius: 5px;
}

.btn__katalog img:hover{
    transform: rotate(30deg);
}

.Search{
    display: flex;
    align-items: center;
    gap: 20px;
}

.SearchandSelect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 110px;
}

select{
    width: 370px;
    height: 70px;
    background-color: #283618;
    color: #FEFAE0;
    font-size: 18px;
    font-family: 'unbounded';
    padding: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.select:hover{
    opacity: 0.7;
}

footer{
    background-color: #283618;
}

.footer{
    display: flex;
    flex-direction: row;
    gap: 130px;
    align-items: center;
}

.footer__a{
    color: bisque;
    font-family: 'unbounded';
    font-size: 24px;
}

.footer_1{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.footer_2{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.footer_3{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}

.footer__p{
    display: flex;
    justify-content: flex-end;
    color: #FEFAE0;
    font-family: 'unbounded';
    font-size: small;
}

.footer__4{
    display: flex;
    flex-direction: column;
}

.vopros{
    width: 390px;
    height: 100px;
    border-radius: 15px;
    background-color: #FEFAE0;
    color: #283618;
    font-size: 24px;
}

input::placeholder{
    padding: 20px;
}

form{
    cursor: pointer;
}

.footer__a:hover{
    color: #d1c67e;
}

.btn__vopros{
    background-color: #222222;
    color: #FEFAE0;
    width: 230px;
    height: 70px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 170px;
    font-family: 'unbounded';
    font-size: small;
}

.vopros__txt{
    color: #FEFAE0;
    margin-bottom: 20px;
    font-family: 'unbounded';
}

.burg{
    display: none;
}

@media screen and (max-width: 440px) {

    .container {
        max-width: 400px;
        z-index: 1000;
    }
    
    .py-120 {
        padding: 30px 0;
    }
    
    header{
        background-color: #283618;
        height: 60px;
        min-width: 400px;
    }
    
    .Header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }
    
    
    .header__ul{
        align-items: center;
        text-align: center;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    [for=burger] {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    [for=burger]::before {
        content: url(../img/burg/burg.svg);
        font-size: 25px;
    }

    nav {
        position: fixed;
        top: 0;
        width: 40%;
        background-color: rgba(255, 228, 196, 0.63);
        padding: 20px;
        display: none;
        margin-left: 170px;
    }

    nav a {
        color: #000000;
    }

    #burger:checked + [for=burger] + nav {
        display: block;
        animation: show 0.5s;
    }

    #burger:checked + [for=burger]::before {
        content: url(../img/burg/close.svg);
        font-size: 30px;
    }

    @keyframes show {
        0%{
            opacity: 0;
        }
        
        100% {
            opacity: 1;
        }
    }
    
    a{
        color: bisque;
        font-family: 'unbounded';
        font-size: 18px;
    }
    
    p, h2, h3, h1, button{
        font-family: 'unbounded';
    }
    
    .basket{
        height: 60px;
    }
    
    .kart{
        background-color: #FEFAE0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 170px;
        height: 288px;
        box-shadow: 10px 10px 20px 1px #283618;
        gap: 10px;
    }
    
    .kart img{
        width: 100%;
    }
    
    .price{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    .btn__kart{
        width: 150px;
        height: 30px;
        background-color: #283618;
        border-radius: 8px;
        color: #FEFAE0;
    }
    
    .btn__kart:hover{
        width: 100px;
        color: #283618;
        background-color: transparent;
        border: 4px solid #283618;
        border-radius: 30px;
    }
    
    .container__kart{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
    }
    
    .katalog__kart{
        background-color: #D9D9D9;
    }
    
    .input__katalog{
        width: 250px;
        height: 70px;
        border-radius: 15px;
        background-color: #FEFAE0;
        font-family: 'unbounded';
        font-size: 14px;
    }

    h3{
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }

    
    .btn__katalog{
        display: none;
        width: 110px;
        height: 70px;
        background-color: #283618;
        border-radius: 5px;
    }
    
    .btn__katalog img:hover{
        transform: rotate(30deg);
    }
    
    .Search{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .SearchandSelect{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 110px;
    }
    
    select{
        width: 130px;
        height: 66px;
        background-color: #283618;
        color: #FEFAE0;
        font-size: 14px;
        font-family: 'unbounded';
        border-radius: 5px;
    }
    
    .select:hover{
        opacity: 0.7;
    }
    
    footer{
        background-color: #283618;
    }
    
    .footer{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    
    .footer__a{
        color: bisque;
        font-family: 'unbounded';
        font-size: 16px;
    }
    
    .footer_1{
        align-items: center;
        text-align: center;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }
    
    .footer_2{
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    
    .footer_3{
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        margin-top: 20px;
    }

    .footer_3 img{
        width: 50px;
    }
    
    .footer__p{
        display: flex;
        justify-content: flex-end;
        color: #FEFAE0;
        font-family: 'unbounded';
        font-size: small;
        margin-top: 15px;
    }
    
    .footer__4{
        display: flex;
        flex-direction: column;
    }
    
    .vopros{
        width: 390px;
        height: 50px;
        border-radius: 15px;
        background-color: #FEFAE0;
        color: #283618;
        font-size: 16px;
    }
    
    input::placeholder{
        padding: 20px;
    }
    
    .btn__vopros{
        background-color: #222222;
        color: #FEFAE0;
        width: 140px;
        height: 50px;
        border-radius: 15px;
        margin-top: 20px;
        margin-left: 250px;
        font-family: 'unbounded';
        font-size: small;
    }
    
    .footer__a:hover{
        color: #d1c67e;
    }
    
    .vopros__txt{
        color: #FEFAE0;
        margin-bottom: 20px;
        font-family: 'unbounded';
    }
}
